SECRET_KEY="854732663de2c442e4a75b82e1d854e0"
FLASK_ENV=development
# SQLite (default)
# DATABASE_URL=sqlite:///instance/app.db
# MySQL (produção)
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/solicitacoes
MAX_UPLOAD_MB=10
